.table {
    border-collapse: collapse;
}

.table th,
td {
    padding: 1rem;
}

.table img {
    max-height: 10rem;
}

.table tr:nth-child(odd) {
    background-color: #f8f8f8;
}

.table tr:hover {
    background-color: #fbfbfb;
}
